<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Common.InteractiveWebDriver.ServerUrl" value="http://ds.hesapkurdu.com:4444/" />
  </appSettings>
</configuration>